* {
  box-sizing: border-box;
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial;
}

body {
  background: gray;
}

.wrapper {
  width: 1304px;
  background: #ffffff;
  border: 4px solid #8cc5f9;
  border-radius: 44px;
  margin: 0 auto;
  position: relative;
}

.wrapper .container {
  margin: 50px;
  display: flex;
}

.wrapper .container .content {
  margin-left: 58px;
  /* display: flex;
  flex-direction: column;
  justify-content: space-between; */
}

.wrapper .container .content .title {
  font-style: italic;
  font-weight: bold;
  font-size: 44px;
  line-height: 52px;
  color: #8cc5f9;
}

.wrapper .container .content .content-1 {
  font-size: 32px;
  line-height: 38px;
  color: #08090a;
}
.wrapper .container .content .icon {
  display: flex;
}

.wrapper .container .content .icon i {
  background: lightskyblue;
  color: white;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 26px;
}

.wrapper .container .content .content-2 {
  font-weight: 300;
  font-size: 32px;
  line-height: 38px;
  color: #878abc;
}

.wrapper .btn-exit {
  color: #878abc;
  position: absolute;
  top: 5%;
  right: 5%;
}
